@chatset utf-8;

html, body {
	height:100%;
	background:#000;
}
#header { 
	width:100%;
	height:70px;
	background:url('../img/bk_bg.jpg');
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 2000;
}
#header h1 {
    text-align: center;
    padding-top: 11px;
    width: 230px;
    display: inline-block;
    padding-right: 30px;
    color: #fff;
}
#header h1 img {
	width:100%;
}
.searchWrap {
    position: relative;
    padding: 12px 41px 0 47px;
}
.menu {
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 8px;
}
.menu a {
	color:#fff;
}
.menu a i,
.search button i,
.basket a i {
	font-size:30px;
}
.search {
	float: left;
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 20px 40px;
}
.search button {
	display: inline-block;
    background: none;
    cursor: pointer;
    border: 0;
    color:#fff;
}
.basket {
    float: left;
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px 8px;
}
.basket a {
	color:#fff;
}
#container {
	height: 100%;
}
.main-visual {
	height:60%;
	padding-top:70px !important;
	text-indent:-1000em;
	position:relative;
}
.main-visual .swiper-slide.v01 {
	background:url('../img/main01.jpg') no-repeat;
	background-size:cover;
	background-position:center center;
}
.main-visual .swiper-slide.v02 {
	background:url('../img/main02.jpg') no-repeat;
	background-size:cover;
	background-position:center center;
}
.main-visual .swiper-slide.v03 {
	background:url('../img/main03.jpg') no-repeat;
	background-size:cover;
	background-position:center center;
}
.main-visual .swiper-slide.v04 {
	background:url('../img/main04.jpg') no-repeat;
	background-size:cover;
	background-position:center center;
}
.main-contents1 {
	display:flex;
	justify-content: center;
	align-items:center;
	color:#fff;
	margin: 50px 20px 10px;
}
.main-contents1 img {
	width:100%;
}
.main-contents1 .cont-left {
	flex:1;
	min-width:150px;
	text-align:center;
	padding:10px;
}
.main-contents1 .cont-right {
	flex:1;
	min-width:150px;
	text-align:center;
	padding:10px;
}
.main-contents1 .cont-txt {
	text-align:left;
	padding: 12px;
	position:relative;
	top: -28px;
	left: 0px;
}
.main-contents1 .cont-txt p {
	font-family:'Noto Sans KR',sans-serif;
	font-size: 12px;
	line-height: 150%;
}
.main-contents1 h3 {
	display:inline-block;
	font-family:'Playfair Display',sans-serif;
	font-size:1.3rem;
	line-height: 150%;
}
.giacomo_visual_txt {
	position:absolute;
	top:50%;
	left: 0;
	right:0;
	bottom:0;
	width:100%;
	margin:0px auto;
	z-index:10;
	transform:translateY(-30%);
	max-width:600px;
}
.giacomo_visual_txt img {
	display:block;
	width:80%;
	margin: 0px auto;
}
.main-contents-product {
	background:url('../img/sec2_bg.jpg') no-repeat;
	background-size:cover;
	background-position:center center;
	min-height:250px;
	display:table;
	table-layout:fixed;
	width:100%;
	position:relative;
	z-index:100;
}
.main-contents-product::after {
	content:'';
	width:100%;
	height:100%;
	background:#000;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0.5;
	z-index:90;
}
.main-contents-product .product-title {
	display:table-cell;
	vertical-align:middle;
	width:100%;
	position:relative;
	z-index:100;
}
.main-contents-product .product-title::after {
	content:url('../img/h_line.png');
	display:block;
	text-align:center;
	margin-top:15px;
}
.main-contents-product .product-title strong.title1 {
	color:#fff;
	font-family:'Playfair Display',sans-serif;
	font-size:1.3rem;
	line-height:150%;
	letter-spacing:0.15em;
	display:block;
	text-align:center;
}
.main-contents-product .product-title strong.title2 {
	color:#fff;
	font-family:'Playfair Display',sans-serif;
	font-size:3.3rem;
	line-height:130%;
	letter-spacing:0.02em;
	display:block;
	text-align:center;
}
.main-sns {
	margin:60px 20px;
}
.main-sns h3 {
	color:#fff;
	text-align:center;
	font-family:'Playfair Display',sans-serif;
	font-size:2rem;
	letter-spacing:0.03em;
	line-height:100%;
}
.main-sns h3::before {
    content: '';
    width: 25px;
    height: 20px;
    display: inline-block;
    margin: auto 5px auto auto;
    background: url(../img/sec5_icon1.png) no-repeat;
}
.main-sns .sns-wrap {
	margin:20px;
}
.main-sns .sns-wrap .sns-api {
    background-image: linear-gradient(-45deg,#28425a 60%,#f3f3f3 50%,#f3f3f3);
    padding: 20px;
}
.main-sns .sns-wrap .sns-api img {
	width:100%;
}
#footer {
	color:#fff;
	text-align:center;
}
#footer .footer-customer p,
#footer .footer-customer address {
	line-height:180%;
	font-size:12px;
}
#footer .footer-company {
	margin:60px 0;
}
#footer .footer-company strong {
	margin:0 10px;
	display:inline-block;
	line-height:180%;
	font-size:12px;
}
#footer h4 {
	font-family:'Playfair Display',sans-serif;
	font-size:22px;
	letter-spacing:0.04em;
	padding:0 0 20px 0;
}
#footer > .footer-menu > ul {
	display:flex;
	justify-content:center;
	align-items:center;
	border:1px solid #191919;
	border-left:0px;
	border-right:0px;
}
#footer > .footer-menu > ul > li {
	flex:1;
	background:#0f0f0f;
	border-right:1px solid #191919;
}
#footer > .footer-menu > ul > li:nth-of-type(3) {
	flex:1.5;
}
#footer > .footer-menu > ul > li:last-child {
	border-right:0px;
}
#footer > .footer-menu > ul > li > a {
	display:block;
	color:#fff;
	padding:12px 0;
}
#footer > .footer-copyright {
	font-size:13px;
	font-family:'Roboto',sans-serif;
	font-weight:400;
	padding:16px 0;	
}
.font-noto-sm {
	font-family:'Noto Sans KR',sans-serif;
	font-size:14px;
	font-weight:400;
	line-height:150%;
}

#production_wrap {
	width:100%;
	height:100%;
}
.main_visual {
	position:relative;
}
.main_visual .txt_box {
	position: absolute;
    bottom: 20%;
    color: #fff;
    left: 5%;	
}
.main_visual .img_box img {
    width: 100%;
}
.main_visual .txt_box h1 {
    font-size: 2.5rem;
    font-family: 'Playfair Display',serif,'Lato','Nanum Gothic',맑은 고딕,Segoe UI,sans-serif;
}
.main_visual .txt_box p {
    font-size: 11px;
    margin-top: 25px;
    line-height: 150%;
    font-family: 'Malgun Gothic',sans-serif;	
}
.sec_sub .sec_subConcept {
	position:relative;
	z-index:99;
}
.sec_sub.concept1 .sec_subConcept::after {
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
    background-image: url(http://www.giacomovalentini.co.kr/web/giacomo/concept/sec1_bg_01.png),url(http://www.giacomovalentini.co.kr/web/giacomo/concept/sec1_bg_02.png);
    background-repeat: no-repeat,repeat;
    background-position: left top,left top;
    background-size: 30% auto,auto auto;
}
.sec_sub .subConcept_head {
	text-align:center;
	padding-bottom:20px;
	position:relative;
	z-index:99;
}
.sec_sub .subConcept_head .head_top {
	padding:60px 30px 0;	
}
.sec_sub .subConcept_head .head_top > img {
	width:40%;
}
.sec_sub .subConcept_head .head_top h3 {
	font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Playfair Display',serif,'Lato','Nanum Gothic',맑은 고딕,Segoe UI,sans-serif;
    margin-top:20px;
}
.sec_sub .subConcept_head .head_top p {
	font-family:'Noto Sans KR',sans-serif;
	font-size:14px;
	font-weight:600;
	line-height:150%;
	margin-top:20px;
}
.sec_sub .subConcept_head .head_top::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 1px;
    border-top: 1px solid #000;
    margin-top: 30px;
}
.sec_sub .subConcept_head .head_bottom {
	padding:10px;
}
.sec_sub .subConcept_head .head_bottom p {
	font-family:'Noto Sans KR',sans-serif;
	font-size:14px;
	line-height:160%;
	padding:10px 20px 0;
}
.sec_sub.concept1 .subConcept_cont {
	padding:20px 20px;
	position:relative;
	z-index:99;
}
.sec_sub.concept1 .subConcept_cont ul {
	display:flex;
	justify-content:center;
	align-items:center;
}
.sec_sub.concept1 .subConcept_cont ul li {
	background: #fff;
    flex-grow:1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 12px;
    padding:15px;
    min-height:367px;
}
.sec_sub.concept1 .subConcept_cont dl dt img {
    width: 100%;
}
.sec_sub.concept1 .subConcept_cont dl dd h4 {
    font-family: 'Playfair Display',serif,'Lato','Nanum Gothic',맑은 고딕,Segoe UI,sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1;
    margin:15px 0;
}
.sec_sub.concept1 .subConcept_cont dl dd p {
    line-height: 150%;
    font-family:'Noto Sans KR',sans-serif;
    font-weight:400;
    font-size:14px;
}
.sec_sub.concept2 .subConcept_head::after {
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:99;
	background: #000 url(http://www.giacomovalentini.co.kr/web/giacomo/concept/sec2_bg.png) no-repeat center;
	background-size:cover;
	opacity:0.5;
}
.sec_sub.concept2 .subConcept_head .head_top {
	position:relative;
	z-index:100;
	color:#fff;
}
.sec_sub.concept2 .subConcept_head .head_bottom {
	position:relative;
	z-index:100;
	color:#fff;
}
.sec_sub.concept2 .subConcept_head .head_top::after {
    border-top: 1px solid #fff;
}
.sec_sub.concept3 {
    position: relative;
    background:#fff;
}
.sec_sub.concept3::after {
	content:'';
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	background-image: url(http://www.giacomovalentini.co.kr/web/giacomo/concept/sec3_bg.png),url(http://www.giacomovalentini.co.kr/web/giacomo/concept/sec1_bg_02.png);
    background-repeat: no-repeat,repeat;
    background-position: 150% 5%;
    background-size: 70% auto,auto auto;
    padding-bottom: 120px;
    opacity:0.5;	
}
.sec_sub.concept3 .subConcept_cont {
	padding:20px 20px;
	position:relative;
	z-index:99;
}
.sec_sub.concept3 .subConcept_cont ul li {
    background: #fff;
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
}
.sec_sub.concept3 .subConcept_cont dl {
	display:table;
	table-layout:fixed;
	width:100%;
}
.sec_sub.concept3 .subConcept_cont dl dt {
    display: table-cell;
    width: 35%;
}
.sec_sub.concept3 .subConcept_cont dl dt img {
	width:80%;
}
.sec_sub.concept3 .subConcept_cont dl dd {
	display:table-cell;
	vertical-align:top;
}
.sec_sub.concept3 .subConcept_cont dl dd h4 {
    font-family: 'Playfair Display',serif,'Lato','Nanum Gothic',맑은 고딕,Segoe UI,sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1;
    margin-bottom: 15px;
}
.sec_sub.concept3 .subConcept_cont dl dd p {
	font-family:'Noto Sans KR',sans-serif;
	font-size:14px;
	font-weight:400;
    line-height: 150%;
    margin-bottom:10px;
}
@media all and (max-width:420px) {
	.sec_sub.concept1 .subConcept_cont ul {
		display:inherit;
	}	
	.sec_sub.concept1 .subConcept_cont ul li {
	    width:100%;
	    margin:0px;
	    margin-bottom:20px;
	}	
}
@media all and (orientation:landscape) {
	.giacomo_visual_txt img {
		display:block;
		width:50%;
		margin: 0px auto;
	}
}








