@charset 'utf-8';

body {
	font-family: 'Noto Sans KR','Circular','Malgun Gothic', sans-serif;
    background-color: #fcfcfc;
    position: relative;
    min-width: 800px;
}
a {
	text-decoration: none;
	color : #333;
	outline: none;
}
header {
	position:relative;
	height: 85px;
	z-index:200;
}
header > h1 {
	font-size:24px;
	font-family:'Circular',sans-serif;
	font-weight:400;
	position:absolute;
	top: 12px;
	left:50px;
	z-index:10000;
	color:#222;
	letter-spacing:-0.02em;
}
header > nav {
	position:absolute;
	top: 18px;
	right:50px;
	z-index:10000;
}
header > nav > ul {

}
header > nav > ul > li {
	display:inline-block;
	margin:0 14px;
}
header > nav > ul > li > a {
	font-size:18px;
	font-family:'Circular',sans-serif;
	font-weight:400;	
	color:#222;
	-webkit-transition: all ease .4s;
	-moz-transition: all ease .4s;
	-ms-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}
header > nav > ul > li > a:hover {
	color:#999;
}

#wrapper {
	position:relative;
}
.home_contents {
	position: fixed;
	width:100%;
	height: 100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:99;
}
.home_contents .home_contents_inner {
	text-align:center;
	overflow:hidden;
	height:100%;
	position: relative;
	display:flex;
	cursor:pointer;
}
.home_contents .home_contents_inner > div {
	width:100%;
	height:100%;
	background:url('../img/tid_mainbg_white.jpg') no-repeat;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.home_contents .home_contents_inner > div::after {
	content:'';
	position:absolute;
	top:0;
	right: -100%;
	width:100%;
	height:100%;
	opacity:0;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.home_contents .home_contents_inner > div.menuCurrent.cont1 {
	background:url(../img/tid_mainbg1.jpg) no-repeat;
	background-size:cover;
	position:relative;
	z-index:100;
}
.home_contents .home_contents_inner > div.menuCurrent.cont1::after {
	background: url(../img/tid_mainbg1_after.jpg) no-repeat;
	background-size:cover;
	opacity: 1;
}
.home_contents .home_contents_inner > div.menuCurrent.cont2 {
	background: url(../img/tid_mainbg2.jpg) no-repeat;
	background-size:cover;
}
.home_contents .home_contents_inner > div.menuCurrent.cont3 {
	background:url(../img/tid_mainbg3.jpg) no-repeat;
	background-size:cover;
}
.home_contents .home_contents_inner > div.menuCurrent.cont4 {
	background:url(../img/tid_mainbg4.jpg) no-repeat;
	background-size:cover;
}
.home_contents .home_contents_inner > div > .window {
	width: 100%;
	height:100%;
	display:table;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.home_contents .home_contents_inner > div > .window .cont_txt {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	padding-left:50px;
	z-index:1000;
	text-align:left;
	color: #222;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.home_contents .home_contents_inner > div.menuCurrent > .window .cont_txt {
	color:#fff;
}
.home_contents .home_contents_inner > div > .window .cont_txt .cont_head {
	font-size:46px;
	font-family:'Open Sans',sans-serif;
	font-weight: 700;
	letter-spacing: -0.05em;
	margin-top:80px;
	margin-bottom:2px;
}
.home_contents .home_contents_inner > div > .window .cont_txt .cont_subhead {
	font-size:30px;
	font-weight: 400;
	font-family:'Roboto',sans-serif;
	letter-spacing: -0.02em;
	margin-top:0px;
	margin-bottom:6px;	
}
.home_contents .home_contents_inner > div > .window .cont_txt .cont_desc {
	font-size:16px;
	font-family:'Circular',sans-serif;
	line-height:22px;
}
.home_contents .home_contents_inner > div > .window .cont_txt .view-detail-btn {
	display: block;
	background:#fff;
	border: 2px solid #c1c1c1;
	border-radius:20px;
	width: 100px;
	margin: 30px 0;
	text-align: center;
	padding: 8px 0;
	color: #222;
	font-family: "Circular",sans-serif;
	font-weight: 400;
	font-size: 20px;
}
.home_contents .home_contents_inner > div.menuCurrent > .window .cont_txt .view-detail-btn {
	display: block;
	border: 2px solid transparent;
	border-radius:20px;
	width: 100px;
	margin: 30px 0;
	text-align: center;
	padding: 8px 0;
	color: #fff;
	font-family: "Circular",sans-serif;
	font-weight: 400;
	font-size: 20px;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.home_contents .home_contents_inner > div.menuCurrent > .cont_txt .view-detail-btn:hover {
	background:rgba(255,255,255,0.6);
	border:2px solid transparent;
	color:#222;
}
.home_contents .home_contents_inner > div.menuCurrent > .cont_txt p {
	color:#fff;
}
footer {
	width:100%;
	height:70px;
	position: absolute;
	z-index:3000;
	bottom:0px;
	display: table;
	table-layout:fixed;
}
footer .footer-inner {
    display: table-cell;
    vertical-align:middle;
    position:relative;
    padding:20px;
}
footer .footer-inner > .information {
	float:left;
	width: 77%;
	padding-left: 31px;
}
footer .footer-inner > .information > div {
    display: inline-block;
}
footer .footer-inner > .information > div:nth-child(1):before {
	display:none;
}
footer .footer-inner > .information > div:before {
    content: '';
    width: 1px;
    height: 10px;
    background-color: #999;
    display: inline-block;
    position: relative;
    top: 1px;
    margin: 0 8px;
}
footer .footer-inner > .information > div,
footer .footer-inner > .information_w > div > a {
    color: #222;
    font-size: 0.85rem;
    font-family:'Circular','Noto Sans KR',sans-serif;
    letter-spacing:-0.02em;
}
footer .footer-inner > .information_company {
	float:right;
	padding-right: 36px;
}
footer .footer-inner > .information_company > strong {
	color:#222;
	font-size: 0.85rem;
	font-family:'Circular',sans-serif;
	font-weight:400;
}