@font-face {
	font-family: 'Book';
	font-weight: 200;
	src: local('Book');
	src: url('font/futurastd-book.eot');
	src: url('font/futurastd-book.eot?#iefix') format('embedded-opentype'), url('font/futurastd-book.woff') format('woff'), url('font/futurastd-book.ttf') format('truetype');
}